<li id="monkey_<%= monkey.id %>">
  <%= monkey.name %>
  <%= link_to "Update",
              monkey_path(
                monkey,
                name: monkey.name + (monkey.name =~ /the monkey/ ? " monkey!" : "the monkey!")
              ),
              class: 'monkey',
              data: {id: monkey.id} %>
</li>
